.rosca-host {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-family: "Segoe UI", sans-serif;
    overflow: hidden;

    .legenda {
        display: flex;
        box-sizing: border-box;
        z-index: 2;
    }

    .plot-area {
        box-sizing: border-box;
    }

    svg {
        display: block;
    }
}
